{% extends 'base.html' %}
{% block content %}
<div class="container" style="position:absolute;top:39%">
    <h4 class="text-center" style="color:white;">로그인 실패<br>다시 시도 해보세요.</h4>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <button class="form-control mt-3" style="background-color:black;border-color: white" type="button" onclick="back()"><span style="color:white">LOGIN</span></button>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script>
    function back(){
        var referrer =  document.referrer;
        location.href=referrer;
    }
</script>
{% endblock %}